.container {
    background-color: white;
    width: 338px;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 10px;
    margin: auto;
  }
  .bos{
width: 336px;
height: 28px;
left: 408px;
top: 232px;
border-radius: 10px;
background: #FFDC40;
  }

  .toDoListTitle {
    font-style: normal;
    width: 100%;
    font-weight: 900;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    text-transform: capitalize;
    margin-top: 17px;
    /* margin-bottom: 38px; */
    color: #000000;
    font-family: roboto;
    font-family: "Roboto", sans-serif;
  }

  .sortIconDiv {
    width: 90%;
    display: flex;
    justify-content: end;
  }
  
  .sortIcon {
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: end;
    opacity: 0.6;
    transition: all 0.7s;
  }
  .sortIcon:hover{
    opacity: 1;
  }


  #result {
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
  }

  .li{
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
    display: flex;
    justify-content: space-between;

  }

  input{
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    width: 86%;
    margin-left: 25px;
    height: 45px;

  }

  .btn{
    width: 25px;
    height: 25px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 50%;
    font-size: 10px;
    margin-right: 20px;
  }

  .btn:hover{
background: #833AE0;
color: #ffff;
border: 1px solid #833AE0;
box-sizing: border-box;
border-radius: 71px;
width: 25px;
height: 25px;

  }
  #btn{
    text-align: center;
    position: relative;
    margin-bottom: 15px;
  }
#btn button{
width: 150px;
height: 42px;
left: 500px;
top: 568px;
background: #833AE0;
border-radius: 71px;
color: #ffff;
margin-left: 20px;
margin-top: 10px;
  }

  .div{
    color: white;
    right: 11.8rem;
    top: 11px;
    position: absolute;
    background: #AA68FE;
    border-radius: 50%;
    padding: 11px 18px;
  }